.download-button {
  color: white;

  border: none;
  border-radius: 10px;

  padding: 1rem 1.2rem;

  font-size: 0.8rem;
  font-weight: 600;

  cursor: pointer;

  width: fit-content;

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.download-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(106, 90, 205, 0.3);
}
